body {
  margin-left: 0px;
  margin-right: 0px;
  padding: 0;
  font-family: sans-serif;
  background: #FAFAFA;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.AboutPage{
  padding-top:30px;
  padding-bottom: 30px;
}

.HomePage{
  padding-top:30px;
  padding-bottom: 30px;
}

.navbar{
  margin-bottom:0.1px;
  background:#FAFAFA;
  box-shadow: 0px 2px grey;
  padding-left:100px;
  padding-right:100px;
}

.navbar-brand{
  padding-top:10.5px;
  margin-top:5px;
  text-shadow:5px;
}

.footer{
  background-color: #6E6E6E;
  text-align:center;
  padding-top:5px;
  color:#F2F2F2;
  margin-left:-115px;
  margin-right:-115px;
  padding-bottom:20px;
}

.ImageBar{
  /*background-image: url('../public/images/bg1.jpg');*/
  text-align:center;
  color:#F2F2F2;
  padding-top:200px;
  margin-left:-115px;
  margin-right:-115px;
  padding-bottom:100px;
}

.LoginPage{
  padding-top:100px;
  /*padding-left:250px;
  padding-right:250px;*/
}

.RegisterPage{
  padding-top:30px;
}

.NotFound{
  padding-top:150px;
  padding-left:250px;
  padding-right:250px;
  text-align: center;
}
/*.navbar-form,.navbar-right{
  margin-top:5.5px;
}*/
.profilPage{
  padding-top:50px;
}
